<p>hello world</p>
 <% if @message.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for :message do |f| %>
  <%= f.text_field :name, label: 'Type your name' %>
  <%= f.text_field :email, placeholder: 'user@domain.com' %>
  <%= f.text_area :body %>
  <%= f.button :submit, value: "Send Message" %>
<% end %>